{% extends "layout.html" %}
{% block body %}
    <div class="main_div">
            <div class="right_div">
                <p class="trial_info_text">Round <span id="trial-number">1</span> of <span id="total-trial-number"></span></p>
                <p class="trial_info_text" id = 'total_earnings'></p>
                <p class="trial_info_text"><span id="practice-trial">This is a practice trial</span></p>
            </div>
            <div class = "outcome"></div>
            <div class = "button-wrapper"><button  type="button" class="btn btn-success btn-lg" id = "continue_button">Continue</button></div>
        <div class="center_div" id='modifiable-div'>
                <p class="trial_text" id="instructions"></p>
                <div id='button-div'>
                <button id="more-blue" type="button" class="btn btn-primary chose-blue"></button>
                <button id="more-yellow" type="button" class="btn btn-warning chose-yellow"></button>
                </div>
                <br>
                <img id="stimulus" class="stimulus_image" width="500" alt=""/>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/raphael-min.js" type="text/javascript"> </script>
    <script src="/static/scripts/experiment.js" type="text/javascript"> </script>
    <script type="text/javascript">

    $(document).ready(function () {
        create_agent();
    });
        
    </script>
{% endblock %}