{% extends "layout.html" %}

{% block body %}
    <div class="main_div" id='instruct-2-div' style='visibility:hidden;'>
        <h1>Instructions</h1>

        <hr>

        <p id='story-instructions'>
        </p>
        
        <p id =>Here is an example of what you might see:</p>
        <div class="centering_div">
            <img class="stimulus_image" src="/static/images/new_demo.png" width="400" alt=""/>
        </div>
        &nbsp;
        <p id ='image-paragraph'></p>

        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

        var cover_story, payout_condition
        
        dallinger.getExperimentProperty('cover_story')
                .done(function (propertiesResp) {
                    cover_story = propertiesResp.cover_story
                    dallinger.getExperimentProperty('payout_blue')
                    .done(function (propertiesResp) {
                        
                        //payout_condition = propertiesResp.payout_condition
                        
                        /*if (Math.random()<=0.5){
                            payout_condition = 'blue'
                        } else{
                            payout_condition = 'yellow'
                        }*/
                        payout_condition='yellow'
                        cover_story = true

                        localStorage.setItem("cover_story",cover_story);
                        localStorage.setItem("payout_condition",payout_condition);
                        $('#instruct-2-div').css('visibility','visible')

                        if (Math.random()<=0.5){
                            first = 'blue'
                            second = 'yellow'
                        } else{
                            first='yellow'
                            second='blue'
                        }
                                        
                        if (cover_story==true){
                            if (payout_condition=="blue"){
                                $('#story-instructions').html('You work for an imaginary company looking for water in a desert area. '+
                                'You will observe areas briefly and decide if the area has more water '+
                                'or more sand. An area has more water if there are more blue dots than yellow, and more sand if there are '+
                                'more yellow dots than blue. <b>Note that the size of the dots does not matter, only the number. </b> '+
                                "Don't try to count the dots — they will appear too briefly for that. "+
                                'Instead, you should take your best guess.')
                                $('#image-paragraph').html('In this area, there is more sand than water.')

                            } else if (payout_condition=='yellow'){ 
                                $('#story-instructions').html('You work for an imaginary company looking for underwater gold. '+
                                'You will observe areas briefly and decide if the area has more gold '+
                                'or more water. An area has more gold if there are more yellow dots than blue, and more water if there are ' +
                                'more blue dots than yellow. <b>Note that the size of the dots does not matter, only the number. </b> '+
                                "Don't bother trying to count the dots — they will appear too briefly for that. " +
                                'Instead, you should take your best guess.')
                                $('#image-paragraph').html('In this area, there is more gold than water.')
                            } else if (payout_condition=='no-utility'){
                                $('#story-instructions').html('In this experiment, you will observe images briefly and decide '+
                                'if they contain more '+first+' dots or more '+second+' dots. '+
                                '<b>Note that the size of the dots does not matter, only the number. </b>' +
                                "Don't bother trying to count the dots — they will appear too briefly for that. " +
                                "Instead, you should take your best guess.")
                                $('#image-paragraph').html('In this image, there are more yellow dots than blue dots.')
                            }
                        }  else{ // no cover story, same original covery story as no-utility
                            $('#story-instructions').html('In this experiment, you will observe images briefly and decide '+
                                'if they contain more '+first+' dots or more '+second+' dots. '+
                                '<b>Note that the size of the dots does not matter, only the number. </b>' +
                                "Don't bother trying to count the dots — they will appear too briefly for that. " +
                                "Instead, you should take your best guess.")
                                $('#image-paragraph').html('In this image, there are more yellow dots than blue dots.')
                            }
                    })
                    .fail(function (rejection) {
                        // A 403 is our signal that it's time to go to the questionnaire
                        if (rejection.status === 403) {
                            dallinger.allowExit();
                            dallinger.goToPage('questionnaire');
                          } else {
                            dallinger.error(rejection);
                          }
                        }); 
                })
                .fail(function (rejection) {
                    // A 403 is our signal that it's time to go to the questionnaire
                    if (rejection.status === 403) {
                        dallinger.allowExit();
                        dallinger.goToPage('questionnaire');
                      } else {
                        dallinger.error(rejection);
                      }
                }); 



        advance = function(){
            var nextpage = 'instructions/instruct-3'
            dallinger.goToPage(nextpage)
        }
    </script>
    {% endblock %}