{% extends "layout.html" %}

{% block body %}
    <div class="main_div" id='read_div' style='visibility: hidden;'>
        <h1>Instructions</h1>

        <hr>

        <div id ='story-instructions'>
        </div>
    

        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="reverse();">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>
        var social_condition = localStorage.getItem("social_condition");      
        var generation = parseInt(localStorage.getItem("generation"));     
        var cover_story = localStorage.getItem("cover_story")=='true';    
        //var payout_blue = localStorage.getItem("payout_blue")=='true';
        var payout_condition = localStorage.getItem('payout_condition')
        
        $('#story-instructions').hide()

        $('#read_div').css('visibility','visible')

        if (Math.random()<=0.5){
            first = 'blue'
            second = 'yellow'
        } else{
            first='yellow'
            second='blue'
        }


        if (cover_story==true){
            if (payout_condition=='blue'){
                $('#story-instructions').html('<p>You have already been paid 250 points as a salary. '+
                'On each round, you will get a 50 point bonus if you are correct in judging the area as '+
                'containing more water or more sand. </p>' +
                '<p id="utility-information">In addition to this accuracy bonus, you will be paid 1 point for every water deposit (blue dot) '+
                'in the area, regardless of the size of the deposit. Because the water will always be collected, you will get this bonus '+
                'regardless of whether your judgment is correct. </p>'+
                '<p id="terminal-info">At the end of the experiment, your points will be paid to you as a bonus with 10 points equal to one cent. </p>')

            } else if (payout_condition=='yellow'){ 
                $('#story-instructions').html('<p>You have already been paid 250 points as a salary. '+
                'On each round, you will get a 50 bonus if you are correct in judging the area as '+
                'containing more gold or more water. </p>' +
                '<p id="utility-information">In addition to this accuracy bonus, you will be paid 1 point for every gold deposit (yellow dot) '+
                'in the area, regardless of the size of the deposit. Because the gold will always be collected, you will get this bonus '+
                'regardless of whether your judgment is correct.</p>' +
                '<p id="terminal-info">At the end of the experiment, your points will be paid to you as a bonus with 10 points equal to one cent. </p>')
            } else if (payout_condition=='no-utility'){
                $('#story-instructions').html('<p>On each round, you will get a 50 point bonus if you are correct in judging the image as '+
                'containing more '+first+' or more '+second+' dots. This will be added to the 250 points you earn from completing the experiment.</p>'+
                '<p id="terminal-info">At the end of the experiment, your points will be paid to you as a bonus with 10 points equal to one cent. </p>')
                
            }
        } else{
            if (payout_condition=='blue'){
                $('#story-instructions').html('<p>On each round, you will get a 50 point bonus if you are correct in judging the image as '+
                'containing more blue or more yellow dots. This will be added to the 250 points you earn from completing the experiment.</p>' +
                '<p id="utility-information">In addition to this accuracy bonus, you will be paid 1 point for every blue dot '+
                'in the image, regardless of the size of the dot. You will get this bonus '+
                'regardless of whether your judgment is correct.</p>'+
                '<p id="terminal-info">At the end of the experiment, your points will be paid to you as a bonus with 10 points equal to one cent. </p>')
            } else if (payout_condition=='yellow'){
                $('#story-instructions').html('<p>You have already been paid 250 points. '+
                'On each round, you will get a 50 point bonus if you are correct in judging the image as '+
                'containing more yellow or more blue dots. </p>' +
                '<p id="utility-information">In addition to this accuracy bonus, you will be paid 1 point for every yellow dot '+
                'in the image, regardless of the size of the dot. You will get this bonus '+
                'regardless of whether your judgment is correct.</p>' +
                '<p id="terminal-info">At the end of the experiment, your points will be paid to you as a bonus with 10 points equal to one cent. </p>')
            } else if (payout_condition=='no-utility'){
                $('#story-instructions').html('<p>On each round, you will get a 50 point bonus if you are correct in judging the image as '+
                'containing more '+first+' or more '+second+' dots. This will be added to the 250 points you earn from completing the experiment.</p>'+
                '<p id="terminal-info">At the end of the experiment, your points will be paid to you as a bonus with 10 points equal to one cent. </p>')
            }
        }
        
        $('#story-instructions').show()

        if (social_condition=='asocial' || generation==0){
            advance = function(){
            var nextpage = 'instructions/instruct-ready'
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-2'
            dallinger.goToPage(previouspage)
        }
        } else{
            advance = function(){
            var nextpage = 'instructions/instruct-4'
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-2'
            dallinger.goToPage(previouspage)
        }
        }
    </script>
    {% endblock %}