{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p> Lose more for yellow than for blue.
            
            You work for a company that has recently chemicals into a protected ocean zone. 
            You will observe areas briefly and decide if the areas contain more chemical or more water. 
            An areas has more chemical if there are more yellow dots than 
            
            looking for water in a desert area. 
            You will observe areas briefly and decide if the area has more water
            or more sand. An area has more water if there are more blue dots, and more sand if there are 
            more yellow dots. <b>Note that the size of the dots does not matter, only the number. </b>
            On each round, you will get a <b>$0.05</b> bonus if 
            you are correct, as well as additional <b>$0.10</b> from the company's profits if the area has 
            more water. 
            Don't bother trying to count the dots — they will appear too briefly for that. 
            Instead, you should take your best guess.</p>

        <p>Here is an example of what you might see:</p>
        <div class="center_div">
            <img class="stimulus_image" src="/static/images/demo.jpg" width="400" alt=""/>
        </div>
        <p>In this image, there is more sand than water.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">

                    <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                    Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        create_agent = function() {
          
          dallinger.createAgent()
            
            .done(function (resp) {
                localStorage.setItem("my_node_id",resp.node.id);
                
                localStorage.setItem("generation",resp.node.property2);
                
                localStorage.setItem("condition",parseInt(resp.node.property5.replace(/'/g,'')));

                var nextpage = 'instructions/instruct-2' + resp.node.property5.replace(/'/g,'')
                
                dallinger.goToPage(nextpage)

            })
            
            .fail(function () {
              dallinger.goToPage('questionnaire');
            });
        };

        advance = function (){

            $(document).ready(function () {

                dallinger.createParticipant().done(function(){

                        participant = dallinger.get('/participant/' + dallinger.identity.participantId)

                        participant.done(function (participantobject){

                            create_agent();
                        })

                })
        })
}
        
    </script>
{% endblock %}

<!-- <script>
    // here we will import the correct page of instructions to go to. Output should be a integer of which condition people are assigned to.
    var conditions = [1,2,3,4];
    var sampledCondition = conditions[Math.floor(Math.random() * numbers.length)]; // this should be replaced by the future output
    var onClickString = "dallinger.goToPage('instructions/instruct-2"+String(SampledCondition)+"');"
</script> -->