{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>For example, this area contains 50 chemical spills. If you answer correctly that there is 
            more chemical than water, you will get a $0.20 accuracy bonus. However, you must also pay $0.005 for all 
            50 chemical spills. In total, if you answer correctly, you will lose $0.05 on this round.
        </p> 
        <p>If you answer incorrectly that there is 
            more water than chemical, you will not get an accuracy bonus, but you will still need to pay $0.005 for all 
            50 chemical spills. In this case, you will lose $0.25 on this round.
        </p>
        &nbsp;
        <div class="center_div">
            <img class="stimulus_image" src="/static/images/demo.jpg" width="400" alt=""/>
        </div>
        &nbsp;
        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="reverse();">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

advance = function(){
            var nextpage = 'instructions/instruct-ready-' + localStorage.getItem("condition");
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-3' + localStorage.getItem("condition");
            dallinger.goToPage(previouspage)
        }
    </script>
    {% endblock %}