{% extends "layout.html" %}

3 

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>
                You have already been paid $4.00 to clean the spill. On each round 
                you will get a $0.20 bonus if you are correct in judging the 
                area as containing more chemical or more sand. </p>
            <p> However, you also need to spend $0.005 to clean every chemical spill 
                (blue dot), regardless of the size of this spill. Because all the chemical needs to be cleaned, you will pay this cost 
                regardless of whether you are correct in judging the area as containing more chemical or more sand. <b>This means the 
                    more chemical (blue dots) in an area, the more money you need to spend.
                </b>
            </p>

        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="dallinger.goToPage('instructions/instruct-24');">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

        advance = function(){
            var nextpage = 'instructions/instruct-4' + localStorage.getItem("condition");
            dallinger.goToPage(nextpage)
        }
    </script>
    {% endblock %}