{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        &nbsp;
        <p>You will now complete 2 practice rounds. Earnings from these rounds will not be added to your final pay.</p>
        &nbsp;

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('stage');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
