{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p id ='story-instructions'>
        </p>
    

        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" id='previous_button' onClick="reverse();">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" id='next_button' onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

        $('#next_button').css('background-color','#5c5c5c')
        $('#next_button').css('border','none')
        $('#next_button').css('outline','none')

        $('#previous_button').css('background-color','#5c5c5c')
        $('#previous_button').css('border','none')
        $('#previous_button').css('outline','none')

        var include_numbers = localStorage.getItem('include_numbers')=='true';

        var social_condition = localStorage.getItem("social_condition"); 

        var payout_condition = localStorage.getItem("payout_condition"); 
        var generation_num = parseInt(localStorage.getItem("generation")); 
        var cover_story = localStorage.getItem("cover_story")=='true'; 

        if (Math.random()<=0.5){
            first = 'blue'
            second = 'green'
        } else{
            first='green'
            second='blue'
        }
        
        
        if (social_condition=='social'){
            if (cover_story==false || payout_condition=='no-utility'){
                $('#story-instructions').html('<p>To help you make a decision, before viewing an image you will view the decision made by another participant. '  +
                'This participant viewed an image with the same number of '+first+' and '+second+' dots as the one you will see.</p>')
            } else{
                if (payout_condition=='blue'){
                    $('#story-instructions').html('<p>To help you make a decision, before viewing an area you will view the judgement made by another participant. '  +
                    'This participant viewed an area with the same number of water and sand dots as the one you will see.</p>')
                } else if (payout_condition=='green'){
                    $('#story-instructions').html('<p>To help you make a decision, before viewing an area you will view the judgement made by another participant. '  +
            'This participant viewed an area with the same number of gold and water dots as the one you will see.</p>')
            }
        }

        } else if (social_condition=='social_with_info'){
            if (cover_story==false){
                if (payout_condition=='blue'){
                    $('#story-instructions').html('<p>To help you make a decision, before viewing an area you will view the judgement made by another participant. '  +
            'This participant viewed an image with the same number of blue and green dots as the one you will see, and was also paid for blue dots but not green dots</p>')
                } else if (payout_condition=='green'){
                    $('#story-instructions').html('<p>To help you make a decision, before viewing an area you will view the judgement made by another participant. '  +
            'This participant viewed an image with the same number of green and blue dots as the one you will see, and was also paid for green dots but not blue dots.</p>')
                } else if (payout_condition=='no-utility'){
                    $('#story-instructions').html('<p>N E E D   T O   F I G U R E   T H I S   O U T ! ! !</p>')
                }
            } else{
                if (payout_condition=='blue'){
                    $('#story-instructions').html('<p>To help you make a decision, before viewing an area you will view the judgement made by another participant. '  +
            'This participant viewed an area with the same number of water and sand dots as the one you will see. This participant was also paid for water but not sand in each area.</p>')
                } else if (payout_condition=='green'){
                    $('#story-instructions').html('<p>To help you make a decision, before viewing an area you will view the judgement made by another participant. '  +
            'This participant viewed an area with the same number of gold and water dots as the one you will see. This participant was also paid for gold but not water in each area.</p>')
            } else if (payout_condition=='no-utility'){
                $('#story-instructions').html('<p>N E E D   T O   F I G U R E   T H I S   O U T ! ! !</p>')
            }
            }
        }

        old_html = $('#story-instructions').html()
        if (include_numbers==true){
            if (payout_condition=='blue'){
                if (social_condition=='social' && generation_num!=0){
                    new_html = '<p>After viewing an area, you will click on a button indicating whether you think '+
                    "there are more water or sand dots. These buttons will also include numbers indicating how many "+
                    'participants in a previous iteration of the experiment chose that option in an area with the same number of '+
                    'water and sand dots.</p>'
                    $('#story-instructions').html(old_html+new_html)
                } else if (social_condition=='social_with_info' && generation_num!=0){
                    new_html = '<p>After viewing an area, you will click on a button indicating whether you think '+
                    "there are more water or sand dots. These buttons will also include numbers indicating how many "+
                    'participants in a previous iteration of the experiment chose that option in an area with the same number of '+
                    'water and sand dots. These participants were also paid for water but not sand dots.</p>'
                    $('#story-instructions').html(old_html+new_html)
                }
            } else if (payout_condition=='green'){
                if (social_condition=='social' && generation_num!=0){
                    new_html = '<p>After viewing an area, you will click on a button indicating whether you think '+
                    "there are more gold or water dots. These buttons will also include numbers indicating how many "+
                    'participants in a previous iteration of the experiment chose that option in an area with the same number of '+
                    'gold and water dots.</p>'
                    $('#story-instructions').html(old_html+new_html)
                } else if (social_condition=='social_with_info' && generation_num!=0){
                    new_html = '<p>After viewing an area, you will click on a button indicating whether you think '+
                    "there are more gold or water dots. These buttons will also include numbers indicating how many "+
                    'participants in a previous iteration of the experiment chose that option in an area with the same number of '+
                    'gold and water dots. These participants were also paid for gold but not water dots.</p>'
                    $('#story-instructions').html(old_html+new_html)
                }
            } else if (payout_condition=='no_utility'){
                if (social_condition=='social' && generation_num!=0){
                    new_html = '<p>After viewing an area, you will click on a button indicating whether you think '+
                    "there are more "+first+" or "+second+" dots. These buttons will also include numbers indicating how many "+
                    'participants in a previous iteration of the experiment chose that option in an area with the same number of '+
                    +first+' and '+second+' dots.</p>'
                    $('#story-instructions').html(old_html+new_html)
                } else if (social_condition=='social_with_info' && generation_num!=0){
                    new_html = '<p>N E E D   T O   F I G U R E   T H I S   O U T ! ! !</p>'
                    $('#story-instructions').html(old_html+new_html)
                }
            }

        }

        advance = function(){
            var nextpage = 'instructions/instruct-ready'
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-3'
            dallinger.goToPage(previouspage)
        }
    </script>
    {% endblock %}