{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Welcome</h1>

        <hr>

        <p>Welcome to the experiment!</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">

                    <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                    Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        create_agent = function() {
          
          dallinger.createAgent()
            
            .done(function (resp) {
                localStorage.setItem("node_id",resp.node.id);
                localStorage.setItem("generation",resp.node.property2);
                localStorage.setItem("condition",resp.property5);
                localStorage.setItem("prop_blue",resp.property4);
                localStorage.setItem("trial_type",resp.property1);
                localStorage.setItem("network_id",resp.node.network_id);
                var nextpage = 'instructions/instruct-2'
                
                dallinger.goToPage(nextpage)

            })
            
            .fail(function () {
              dallinger.goToPage('questionnaire');
            });
        };

        advance = function (){

            $(document).ready(function () {

                dallinger.createParticipant().done(function(){

                        participant = dallinger.get('/participant/' + dallinger.identity.participantId)

                        participant.done(function (participantobject){

                            create_agent();

                })
        })
}
        
    </script>
{% endblock %}

