{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>
                You have already been paid $0.25 as a salary.
                On each round, you will get a $0.05 bonus if 
                you are correct in judging the area as containing more water or more sand. </p>
            <p>In addition to this accuracy bonus, you will be paid $0.01 for every water deposit (blue dot)
                in the area, regardless of the size of the deposit. This bonus is paid to you regardless of whether 
                you are correct in judging the area as containing more water or more sand.
            </p>
    

        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="reverse();">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

        advance = function(){
            var nextpage = 'instructions/instruct-4' + localStorage.getItem("condition");
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-2' + localStorage.getItem("condition");
            dallinger.goToPage(previouspage)
        }
    </script>
    {% endblock %}