{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>There are 12 rounds in total. The first 2 are practice rounds. For each area, your bonus will be rounded to the 
                nearest cent and shown to you. 
                The practice rounds will not affect your bonus. Also note that if you leave the experiment early, 
                you will not recieve any bonus. Depending on what areas you see and your answers, you can earn a final bonus 
                of anywhere between $0 and $6.</p>

        <p>Each area is different from the others - just because there was 
            more chemical in one area does not mean there will be more in the next area.</p>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('instructions/instruct_practice');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
