{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>If you answer incorrectly that there is 
            more chemical than sand, you will not get an accuracy bonus, but you will still need to pay $0.01 for all 
            30 chemical spills. In this case, you will lose $0.30 on this round.
        </p> &nbsp;
        <div class="center_div">
            <img class="stimulus_image" src="/static/images/demo.jpg" width="400" alt=""/>
        </div>
        &nbsp;
        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="reverse();">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

advance = function(){
            var nextpage = 'instructions/instruct-ready-' + localStorage.getItem("condition");
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-4' + localStorage.getItem("condition");
            dallinger.goToPage(previouspage)
        }
    </script>
    {% endblock %}