{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p> You work for a company extracting natural resources from unexplored areas. For your work, you will have to decide
            whether there are more black dots or yellow dots. On each round, you will get a bonus if 
            you are correct, as well as possible additional bonus depending on your job at the company. 
            Don't bother trying to count the dots — they will appear too briefly for that. Instead, you should take your best guess.</p>

        <p>Here is an example of what you might see:</p>
        <div class="center_div">
            <img class="stimulus_image" src="/static/images/demo.jpg" width="400" alt=""/>
        </div>
        <p>In this image, there are more yellow dots than blue dots.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">

                    <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                    Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        create_agent = function() {
          
          dallinger.createAgent()
            
            .done(function (resp) {
                localStorage.setItem("my_node_id",resp.node.id);
                
                localStorage.setItem("generation",resp.node.property2);
                
                localStorage.setItem("condition",parseInt(resp.node.property5.replace(/'/g,'')));

                var nextpage = 'instructions/instruct-2' + resp.node.property5.replace(/'/g,'')
                
                dallinger.goToPage(nextpage)

            })
            
            .fail(function () {
              dallinger.goToPage('questionnaire');
            });
        };

        advance = function (){

            $(document).ready(function () {

                dallinger.createParticipant().done(function(){

                        participant = dallinger.get('/participant/' + dallinger.identity.participantId)

                        participant.done(function (participantobject){

                            create_agent();
                        })

                })
        })
}
        
    </script>
{% endblock %}

<!-- <script>
    // here we will import the correct page of instructions to go to. Output should be a integer of which condition people are assigned to.
    var conditions = [1,2,3,4];
    var sampledCondition = conditions[Math.floor(Math.random() * numbers.length)]; // this should be replaced by the future output
    var onClickString = "dallinger.goToPage('instructions/instruct-2"+String(SampledCondition)+"');"
</script> -->