{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>For example, this image contains 50 yellow dots and 30 blue dots. If you answer correctly that there are 
            more yellow than blue dots, you will get a $0.20 accuracy bonus, but you will also lose $0.005 for all 
            30 blue dots. Therefore, if you answer correctly, you will earn $0.05 on this round.
        </p>
        <p>If you answer incorrectly that there are more blue dots than yellow, 
            you will not get an accuracy bonus, but you will still lose $0.005 for all 
            30 blue dots. In this case, you will lose $0.15 on this round.
        </p> 
        &nbsp;
        <div class="center_div">
            <img class="stimulus_image" src="/static/images/demo.jpg" width="400" alt=""/>
        </div>
        &nbsp;
        <hr>

        <div>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="reverse();">
                        Previous
                        </button>
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg" onClick="advance();">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script>

advance = function(){
            var nextpage = nextpage = 'instructions/instruct-ready-' + localStorage.getItem("condition")+'_noStory';
            dallinger.goToPage(nextpage)
        }

        reverse = function(){
            var previouspage = 'instructions/instruct-3' + localStorage.getItem("condition")+'_noStory';
            dallinger.goToPage(previouspage)
        }
    </script>
    {% endblock %}