{% extends "layout.html" %}

{% block body %}
    <div class="main_div" id='ready-div' style='visibility: hidden;'>
        <h1>Instructions</h1>

        <hr>


        <div id ='instructions-div'>
        </div>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                        <button type="button" class="btn btn-success btn-lg" id='next_button' onClick="advance();">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>

    $('#next_button').css('background-color','#5c5c5c')
    $('#next_button').css('border','none')
    $('#next_button').css('outline','none')

    function advance(){
        dallinger.goToPage('instructions/pregame-questions')
    }

    var num_practice, num_test_fixed,num_test_random

    dallinger.getExperimentProperty('num_practice_networks_per_condition')
                .done(function (propertiesResp) {
                    num_practice = propertiesResp.num_practice_networks_per_condition
                    dallinger.getExperimentProperty('num_fixed_order_experimental_networks_per_condition')
                    .done(function (propertiesResp) {
                        num_test_fixed = propertiesResp.num_fixed_order_experimental_networks_per_condition
                        dallinger.getExperimentProperty('num_random_order_experimental_networks_per_condition')
                            .done(function (propertiesResp) {
                                num_practice = parseInt(num_practice)
                                num_test_fixed = parseInt(num_test_fixed)
                                num_test_random = propertiesResp.num_random_order_experimental_networks_per_condition
                                num_test = num_test_fixed+num_test_random;
                                cover_story = localStorage.getItem('cover_story') =='true'
                                payout_condition = localStorage.getItem('payout_condition')

                                localStorage.setItem('num_practice',num_practice)
                                localStorage.setItem('num_test',num_test)


                                // look at figuring out this stuff exactly and/or calling it from back end
                                if (payout_condition=='no-utility'){
                                    var max_bonus = num_test*(0.05)+0.4
                                    var max_bonus = max_bonus.toFixed(2)
                                } else{
                                    var max_bonus = num_test*(0.1)
                                    var max_bonus = max_bonus.toFixed(2)
                                }

                                if (Math.random()<=0.5){
                                    first = 'blue'
                                    second = 'green'
                                } else{
                                    first='green'
                                    second='blue'
        }
                                
                                $('#ready-div').css('visibility','visible')
                                if (cover_story==true){
                                    if (payout_condition=='blue'){
                                        $('#instructions-div').html('<p>You will observe '+String(num_practice+num_test) + ' areas in total. '+
                                            'Depending on how many areas you judge correctly and which areas you see, you can earn a bonus of up to $' + max_bonus + 
                                            '. The first '+ String(num_practice) + ' areas are for practice and will not count towards your bonus.</p>' +
                                            '<p>Each round is different from the others - just because there were more sapphire dots in one '+
                                            'area does not mean there will be more in the next area.</p>')
                                    } else if (payout_condition=='green'){
                                        $('#instructions-div').html('<p>You will observe '+String(num_practice+num_test) + ' areas in total. '+
                                            'Depending on how many areas you judge correctly and which areas you see, you can earn a bonus of up to $' + max_bonus + 
                                            '. The first '+ String(num_practice) + ' areas are for practice and will not count towards your bonus.</p>' +
                                            '<p>Each round is different from the others - just because there were more emerald dots in one '+
                                            'area does not mean there will be more in the next area.</p>')
                                    } else if (payout_condition=='no-utility'){
                                        $('#instructions-div').html('<p>You will observe '+String(num_practice+num_test) + ' images in total. '+
                                            'Depending on how many images you judge correctly and which images you see, you can earn a bonus of up to $' + max_bonus + 
                                            '. The first '+ String(num_practice) + ' images are for practice and will not count towards your bonus.</p>' +
                                            '<p>Each round is different from the others - just because there were more '+first+' or '+second+' dots in one '+
                                            'round does not mean this will hold on the next round.</p>')
                                    }
                                    } else{ // no cover story
                                        if (payout_condition=='blue'){
                                            $('#instructions-div').html('<p>You will observe '+String(num_practice+num_test) + ' images in total. '+
                                            'Depending on how many images you judge correctly and which images you see, you can earn a bonus of up to $' + max_bonus + 
                                            '. The first '+ String(num_practice) + ' images are for practice and will not count towards your bonus.</p>' +
                                            '<p>Each round is different from the others - just because there were ' +
                                            'more blue dots on one round does not mean there will be more in the next area.</p>')
                                        } else if (payout_condition=='green'){
                                            $('#instructions-div').html('<p>You will observe '+String(num_practice+num_test) + ' images in total. '+
                                            'Depending on how many images you judge correctly and which images you see, you can earn a bonus of up to $' + max_bonus + 
                                            '. The first '+ String(num_practice) + ' images are for practice and will not count towards your bonus.</p>' +
                                            '<p>Each round is different from the others - just because there were ' +
                                            'more green dots on one round does not mean there will be more in the next area.</p>')
                                        } else if (payout_condition=='no-utility'){
                                            $('#instructions-div').html('<p>You will observe '+String(num_practice+num_test) + ' images in total. '+
                                            'Depending on how many images you judge correctly and which images you see, you can earn a bonus of up to $' + max_bonus + 
                                            '. The first '+ String(num_practice) + ' images are for practice and will not count towards your bonus.</p>' +
                                            '<p>Each round is different from the others - just because there were more '+first+' or '+second+' dots in one '+
                                            'image does not mean this will hold on the next round.</p>')
                                        }
                                    }
                            })
                            .fail(function (rejection) {
                                // A 403 is our signal that it's time to go to the questionnaire
                                if (rejection.status === 403) {
                                    dallinger.allowExit();
                                    dallinger.goToPage('questionnaire');
                                  } else {
                                    dallinger.error(rejection);
                                  }
                              }); 
                    })
                    .fail(function (rejection) {
                        // A 403 is our signal that it's time to go to the questionnaire
                        if (rejection.status === 403) {
                            dallinger.allowExit();
                            dallinger.goToPage('questionnaire');
                          } else {
                            dallinger.error(rejection);
                        }
                    }); 
                })
                .fail(function (rejection) {
                    // A 403 is our signal that it's time to go to the questionnaire
                    if (rejection.status === 403) {
                        dallinger.allowExit();
                        dallinger.goToPage('questionnaire');
                      } else {
                        dallinger.error(rejection);
                      }
                
              }); 
    



</script>
{% endblock %}
