{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Welcome</h1>
        <hr>
        <p id='welcome_message'>Welcome to the experiment!</p>
        <hr>
        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">

                    <button type="button" class="btn btn-primary btn-lg" id ="instruct1_button" onClick="advance();">
                    Next</button>
                </div>
            </div>
        </div>
        <p id='loading_message' style='visibility:hidden;text-align:center;'><b>Loading the experiment...</b></p>
        <br>
        <p id='loading_message_2' style='visibility:hidden;text-align:center;'>This may take a few seconds (no more than around 30 seconds). If this message displays for more than 45 seconds, please return the HIT</p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var constrained=false;
        create_agent = function() {
          dallinger.createAgent()
            
            .done(function (resp) {

                localStorage.setItem("node_id",parseInt(resp.node.id));
                var generation = parseInt(resp.node.property2)
                localStorage.setItem("generation",generation);
                localStorage.setItem("condition",resp.node.property5);
                var prop_blue = parseFloat(resp.node.property4)
                localStorage.setItem("prop_blue",prop_blue);
                localStorage.setItem("trial_type",resp.node.property1);
                var network_id = parseInt(resp.node.network_id)
                localStorage.setItem("network_id",network_id);
                var nextpage = 'instructions/instruct-2'
                localStorage.setItem("decision_index",parseInt(resp.node.property3));
                localStorage.setItem("constrained",constrained);

                console.log("** Inside instruct-1 create_agent -- node properties: ", resp.node.id, resp.node.property2, resp.node.property5, resp.node.property4, resp.node.property1, resp.node.network_id)

                var network_string = '/network/' + String(network_id) + '/getnet/'
                dallinger.get(network_string)
                    .done(function(netresp) {
                        console.log("netresponse: ", netresp)
                        var net_decision_index = parseInt(netresp.network.property4);
                        localStorage.setItem("net_decision_index",net_decision_index);

                            dallinger.get("/particles/" + network_id +  "/" + generation + "/")
                                .done(function (particlesResponse) {
                                    var n_generation_size = parseInt(particlesResponse.n)
                                    var k_chose_blue = parseInt(particlesResponse.k)
                                    dallinger.goToPage(nextpage)
                                }) 
                                .fail(function (rejection) {
                                    // A 403 is our signal that it's time to go to the questionnaire
                                    if (rejection.status === 403) {
                                        dallinger.allowExit();
                                        dallinger.goToPage('questionnaire');
                                      } else {
                                        dallinger.error(rejection);
                                      }
                                    
                                    })
                                }) 
                    .fail(function (rejection) {
                        // A 403 is our signal that it's time to go to the questionnaire
                        if (rejection.status === 403) {
                            dallinger.allowExit();
                            dallinger.goToPage('questionnaire');
                          } else {
                            dallinger.error(rejection);
                          }
                        
                      }) 
                })
            .fail(function (rejection) {
                // A 403 is our signal that it's time to go to the questionnaire
                if (rejection.status === 403) {
                    dallinger.allowExit();
                    dallinger.goToPage('questionnaire');
                  } else {
                    dallinger.error(rejection);
                  }
                
              }); 
        };    

        advance = function (){
            $('#instruct1_button').addClass('disabled')
            $('#instruct1_button').hide()
            $('#loading_message').css('visibility','visible')
            $('#loading_message_2').css('visibility','visible')
            $(document).ready(function () {
                dallinger.createParticipant()
                .done(function () {

                    setTimeout(create_agent(), 3000);
                    
                });
            })
        }
        
    </script>
{% endblock %}

