{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p> Your job at the company is to mine gold deposits in a remote area. You have already been payed for your work. 
                You will observe areas only briefly and decide if the area is good or bad. 
                Each area has black circles of dirt and yellow circles of gold. 
                An area is good for you if there is more dirt than gold, and bad for if there is more gold than dirt. 
                For each area you get a $0.25 bonus if you are correct. 
                Areas with more gold are bad because they are expensive to mine -- you must spend $0.25 of the money you've 
                been to payed to mine the gold in every bad area you find.
            </p>
        <hr>

        <div>
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-primary btn-lg" onClick="dallinger.goToPage('instructions/instruct-1');">
                    Previous
                    </button>
                </div>
                <div class="col-xs-8">
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-primary btn-lg" onClick="dallinger.goToPage('instructions/instruct-ready');">
                    Next
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
